<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.automationexercise.testcases.TestProductDetails"/>
      <class name="com.automationexercise.testcases.TestSignupAndDeleteAccount"/>
      <class name="com.automationexercise.testcases.TestAnotherFunctionality"/>
      <class name="com.automationexercise.testcases.TestContactUsForm"/>
      <class name="com.automationexercise.base.BaseClass"/>
      <class name="com.automationexercise.testcases.TestSubscriptionFooter"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
